
.options-container {
  height: auto;
}
.chips li {
  span.selected {
    background: var(--purple);
    color: white;

    &:after {
      display: inline-block;
      content: "\2713";
      padding-left: 10px;
    }
  }
}
/* react material css override */
.material-slider {
  > div:last-of-type {
    height: 40px;
  }
}
.MuiSlider-root {
  width: 100%!important;
  @media (max-width: 480px) {
    width: 80%!important;
  }
}
.MuiSlider-thumb, .MuiSlider-track {
  background-color: var(--blue)!important;
}
.PrivateValueLabel-circle-8 {
  border-radius: 0!important;
  background-color: transparent!important;
}
.PrivateValueLabel-label-9 {
  color: var(--blue)!important;
}
