
.options-container {
  height: auto;
}
.interview-start {
  @media (max-width: 1024px) {
    background: var(--gray-light)!important;
  }
}

.interview-start.bg-blue {
  background: linear-gradient(90deg, var(--gray-light) 60%, var(--blue) 40%);
}

.interview-start.bg-pink {
  background: linear-gradient(90deg, var(--gray-light) 60%, var(--pink) 40%);
}

.interview-start.bg-yellow {
  background: linear-gradient(90deg, var(--gray-light) 60%, var(--yellow) 40%);
}

.interview-start.bg-orange {
  background: linear-gradient(90deg, var(--gray-light) 60%, var(--orange) 40%);
}

.interview-start.bg-green {
  background: linear-gradient(90deg, var(--gray-light) 60%, var(--green) 40%);
}

.interview-start.bg-red{
  background: linear-gradient(90deg, var(--gray-light) 60%, var(--red) 40%);
}

.new-interview.bg-purple {
  background: linear-gradient(90deg, var(--gray-light) 60%, var(--purple) 40%);
}
.chips li {
  span.selected {
    background: var(--purple);
    color: white;

    &:after {
      display: inline-block;
      content: "\2713";
      padding-left: 10px;
    }
  }
}
/* react material css override */
.material-slider {
  > div:last-of-type {
    height: 40px;
  }
}
.MuiSlider-root {
  width: 100%!important;
  @media (max-width: 480px) {
    width: 80%!important;
  }
}
.MuiSlider-thumb, .MuiSlider-track {
  background-color: var(--blue)!important;
}
.PrivateValueLabel-circle-8 {
  border-radius: 0!important;
  background-color: transparent!important;
}
.PrivateValueLabel-label-9 {
  color: var(--blue)!important;
}
