.gallery {
  --main: var(--green);
  --secondary: var(--pink);
  --third: var(--purple);
  --fourth: var(--yellow);
  --fifth: var(--red);
  --sixth: var(--blue);
  .section > div {
    // tablecell div got inserted dynamically
    display: flex;
    flex-direction: rows;
  }
}
.gallery-2 {
  --main: var(--pink);
  --secondary: var(--purple);
  --third: var(--yellow);
  --fourth: var(--green);
}

.gallery-3 {
  --main: var(--purple);
  --secondary: var(--yellow);
  --third: var(--green);
  --fourth: var(--pink);
}

.gallery-4 {
  --main: var(--yellow);
  --secondary: var(--green);
  --third: var(--pink);
  --fourth: var(--purple);
}

.section {
  &:nth-of-type(4n) {
    background: linear-gradient(90deg, var(--fourth) 60%, var(--gray-light) 40%);
    .list-right::before {
      background: var(--main);
    }
    .list-right::after {
      background: var(--secondary);
    }
    .list {
      color: var(--gray-dark);
    }
  }
  &:nth-of-type(4n-1) {
    background: linear-gradient(90deg, var(--gray-light) 60%, var(--third) 40%);
    .list-right::before {
      background: var(--secondary);
    }
    .list-right::after {
      background: var(--third);
    }
  }
  &:nth-of-type(4n-2) {
    background: linear-gradient(90deg, var(--secondary) 60%, var(--gray-light) 40%);
    .list-right::before {
      background: var(--third);
    }
    .list-right::after {
      background: var(--fourth);
    }
  }
  &:nth-of-type(4n-3) {
    background: linear-gradient(90deg, var(--gray-light) 60%, var(--main) 40%);
    .list-right {
      color: var(--gray-dark);
    }
    .list-right::before {
      background: var(--fourth);
    }
    .list-right::after {
      background: var(--secondary);
    }
  }
  .list {
    text-align: right;
  }
}


.gallery-4 .section {
  &:nth-of-type(4n) {
    .list {
      color: var(--gray-dark);
    }
  }
}
.question {
  background-color: white;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 500px;
  height: 85vh;
  max-height: 270px;
  will-change: transform;
  border: 3px solid var(--gray-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 10px -10px 0 -3px white, 10px -10px var(--green),
        20px -20px 0 -3px white, 20px -20px var(--yellow),
        30px -30px 0 -3px white, 30px -30px var(--orange),
        40px -40px 0 -3px white, 40px -40px var(--red);
}
pre {
  position: relative;
  left: -100px;
}
.question-set {
  transition: all .3s ease-out;
}

.gallery .box-bg {
  background-color: transparent;
  background-image:  linear-gradient(var(--gray) 1px, transparent 1px), linear-gradient(to right, var(--gray) 1px, transparent 1px);
  background-size: 20px 20px;
}
.gallery .triangle-bg {
  background-color: transparent;
  background-image:  linear-gradient(135deg, var(--gray) 25%, transparent 25%), linear-gradient(225deg, var(--gray) 25%, transparent 25%), linear-gradient(45deg, var(--gray) 25%, transparent 25%), linear-gradient(315deg, var(--gray) 25%, transparent 25%);
  background-position:  10px 0, 10px 0, 0 0, 0 0;
  background-size: 30px 30px;
  background-repeat: repeat;
}
.active .list-right {
  transform-origin: center center;
  &:after {
    transform: translate3d(-300%, 0, 0);
  }
  &:before {
    transform: translate3d( -300%, 0, 0);
  }
}

.list-right1 {
  &:after {
    transition: all 2.4s ease;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate3d(-100%, 0, 0);
    width: 100%;
    height: 100%;
    background: var(--secondary);
  }
  &:before {
    transition: all 3.2s ease;
    content: "";
    display: block;
    position: absolute;
    transform: translate3d(-100%, 0, 0);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--fifth);
  }
}

.list-left {
  &:after {
    transition: all 2.4s ease;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate3d(100%, 0, 0);
    width: 100%;
    height: 100%;
    background: var(--secondary);
  }
  &:before {
    transition: all 1.6s ease;
    content: "";
    display: block;
    position: absolute;
    transform: translate3d(100%, 0, 0);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--fifth);
  }
}
.active .list-left {
  transform-origin: center center;
  &:after {
    transform: translate3d(100%, 100%, 0);
  }
  &:before {
    transform: translate3d(100%, 100%, 0);
  }
}
