.ring-mouse {
  position: fixed;
  top: -30px;
  left: -30px;
  width: 30px;
  height: 30px;
  border: 3px solid var(--blue);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-timing-function: easeOut;
  transition-timing-function: easeOut;
  will-change: width, height, transform, border;
  z-index: 999;
  pointer-events: none;
  transition: all .2s ease;
}
.dot {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: blue;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 999;
  pointer-events: none;
  display: none;
}
.hovered {
  //transition: all 20s;
}
.ring-mouse.hovered {
  width: 500px;
  height: 500px;
  border-width: 3px;
  border-color: blue;
}

.ring-mouse.true-clicked {
  width: 300px;
  height: 300px;
}

.dot.hovered {
  display: none;
}
.arrow-cursor {
  display: none;
}

.arrow-cursor, .smile-cursor {
  width: 150px;
  height: 110px;
  position: fixed;
  left: -150px;
  top: -110px;
  z-index: 10000000;
  pointer-events: none;
  &__icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &__path {
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5px;
  }
}
