.item {
  perspective: 350px;
  perspective-origin: 50% 50%;
  @media (min-width: 1024px) {
    height: calc(100vh - 100px);
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  &:nth-of-type(2n) {
    > div:first-child {
      flex: 2;
    }
    > div:last-child {
      flex: 3;
    }
  }
  &:nth-of-type(2n-1) {
    > div:first-child {
      flex: 3;
    }
    > div:last-child {
      flex: 2;
    }
    .item-rect {
      position: absolute;
      bottom: 100px;
      right: 0;
    }
  }
}
