footer {
  position: relative;
  z-index: 100;
  @media (max-width: 1024px) {
    background: var(--green);
  }
}
.link a {
  > svg {
    padding-bottom: 5px;
  }
  > span {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: none;
    position: relative;
    overflow: hidden;
    padding-bottom: 5px;
    &:after{
      content: "";
      position: absolute;
      z-index: -1;
      left: 100%;
      right: 0;
      bottom: 0;
      background: currentcolor;
      height: 2px;
      transition-property: left;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
    &:hover:after {
      left: 0;
    }
  }
}

footer.bg-purple {
  background: linear-gradient(90deg, var(--purple) 60%, var(--gray-light) 40%);
  @media (max-width: 1024px) {
    background: var(--purple);
  }
}

footer.bg-yellow {
  background: linear-gradient(90deg, var(--yellow) 60%, var(--gray-light) 40%);
  @media (max-width: 1024px) {
    background: var(--yellow);
  }
}
