
:root {
  /*--primary: #555BFF;
  --secondary: #22D2A0;  */
  --main: #444cf7;
  --blue: #1343e6;
  --blue-light: #444cf7;
  --orange: #FFA500;
  --orange-light: #FF9C55;
  --purple: #7a4ef4;
  --purple-gray: #a799cc;
  --yellow: #fdee21;
  --yellow-light: #FFD913;
  --green: #00f4b7;
  --green-light: #1FC11B;
  --red: #F23838;
  --red-light: #FF5555;
  --pink: #eaafd0;
  --gray: #c0ccda;
  --gray-light: #e0e6ed;
  --gray-dark: #333;
  --background-color: #e5e5f7;
  --primary: var(--yellow);
  --secondary: var(--blue);
  --textColor: white;
}

@import 'bg.scss';

body.open-list {
  --background-color: black;
}
body.new-interview {
  --background-color: var(--blue);
}
.red-primary-color {
  --primary: var(--red);
  --textColor: white;
}
.gray-primary-color {
  --primary: var(--gray);
  --textColor: var(--gray-dark);
}
.purple-primary-color {
  --primary: var(--purple);
  --textColor: white;
}

.green-primary-color {
  --primary: var(--green);
  --textColor: var(--gray-dark);
}

.yellow-primary-color {
  --primary: var(--yellow);
  --textColor: var(--gray-dark);
}

.pink-primary-color {
  --primary: var(--pink);
  --textColor: var(--gray-dark);
}

.blue-primary-color {
  --primary: var(--blue);
  --textColor: white;
}

.orange-primary-color {
  --primary: var(--orange);
  --textColor: var(--gray-dark);
}

.gray-secondary-color {
  --secondary: var(--gray);
}

.red-secondary-color {
  --secondary: var(--red);
}

.purple-secondary-color {
  --secondary: var(--purple);
}

.green-secondary-color {
  --secondary: var(--green);
}

.yellow-secondary-color {
  --secondary: var(--yellow);
}

.pink-secondary-color {
  --secondary: var(--pink);
}

.blue-secondary-color {
  --secondary: var(--blue)
}
.orange-secondary-color {
  --secondary: var(--orange);
}
/* static horizontal list open state */
* {
  //transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

html, body {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  --background-color: #eee;

}

body.credit-page {
  --background-color: var(--yellow);
}

.box-shadow {
  box-shadow: 10px -10px 0 -3px white, 10px -10px var(--green), 20px -20px 0 -3px white, 20px -20px var(--yellow), 30px -30px 0 -3px white, 30px -30px var(--orange), 40px -40px 0 -3px white, 40px -40px var(--red)
}
.shake {
  animation: swipe-x 2.25s ease-in-out backwards;
	animation-iteration-count:infinite;
  transform-origin: 25% 50%;
}

@keyframes swipe-x {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(50px) rotateZ(10deg);
	}
	50% {
		transform: translateX(0px);
	}
	75% {
		transform: translateX(-50px) translateY(10px) rotateZ(-10deg);
	}
}
.onboarding {
  background: rgba(0,0,0,.8);
}
div.static2 {
  width: 100vw!important;
  height: 100vh!important;
  --primary: var(--red);
}

div.static, div.static2 {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    width: auto;
    height: 0;
    overflow:hidden;
    transition: all .01s ease;
    transition-delay: .01s;
    perspective: 350px;
    perspective-origin: 50% 50%;
    .question-window {
      > div {
        will-change: transform;
      }
    }
    .question-window > div > div {
      background-color: white;
      background-size: auto 85%;
      background-repeat: no-repeat;
      background-position: center center;
      max-width: 500px;
      height: 85vh;
      max-height: 570px;
      will-change: transform;
      border: 7px solid var(--gray-dark);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: hand;
    }

}
div.static span.close {
  display: inline-block;
  position: fixed;
  right: 10vw;
  top: 3vh;
  z-index: 9;
  color: white;
}
.list-open .static {
  height: 100vh;
  overflow: hidden;
}
div.static[open] {
    height: 100vh;
    width: 100vw;
}

div.static[open="0"] {
    height: 0;
}

.item-rect {
  width: 200px;
  height: 30px;
}

span.link {
  text-decoration: underline;
}
.default-window {
  transition: all .3s ease-out;
  box-shadow: 10px -10px 0 -3px white, 10px -10px var(--green),
        20px -20px 0 -3px white, 20px -20px var(--yellow),
        30px -30px 0 -3px white, 30px -30px var(--orange),
        40px -40px 0 -3px white, 40px -40px var(--red);
  @media (max-width: 1024px) {
    box-shadow: none;
  }
}
.no-hover:hover {
  box-shadow: none!important;
}
.homehead .default-window {
  &:hover {
    box-shadow: none;
    border: 10px solid var(--blue);
    transform: translateX(-10px);
  }
}
.large-rect {
  width: 350px;
  height: 450px;
  border: 1px solid var(--purple-gray);
  z-index: 0;
}

.large-rect > span {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid var(--blue);
  box-shadow: none;
}

figcaption.hovered {
  transform: translateX(100px);
  transition: all .2s ease-out;
}

.large-rect > span:hover {
  border-radius: 0;
  animation: test 0.3s ease-out .4s forwards;
  box-shadow: 10px -10px 0 -3px white, 10px -10px var(--green),
        20px -20px 0 -3px white, 20px -20px var(--yellow),
        30px -30px 0 -3px white, 30px -30px var(--orange),
        40px -40px 0 -3px white, 40px -40px var(--red);
}

@keyframes test {
    0% {
        transform: scale(2) rotate(0);
        transform-origin: center;
    }
    100% {
        transform: scale(4) rotate(315deg);
        /*background-blend-mode:difference;*/
    }
}

@keyframes square-animation {
    0% {
        transform: rotate(0);
        transform-origin: center;
    }
    100% {
        transform: rotate(315deg);
        //background-blend-mode:difference;
    }
}
.large-wide-rect {
  width: 450px;
  height: 300px;
  border: 1px solid var(--purple-gray);
  z-index: 0;
  > span {
    width: 150px;
    height: 100px;
    border: 4px solid var(--blue);
    border-radius: 100%;
    box-shadow: none;
  }
}
.square {
  width: 300px;
  height: 300px;
  border: 10px solid var(--blue);
  > span {
    width: 100px;
    height: 100px;
    border: 4px solid var(--blue);
    box-shadow: none;
  }
}

.square:hover {
  animation: square-animation 0.3s ease-out .4s forwards;
}

.hexagon {
  position: relative;
  width: 300px;
  height: 173.21px;
  background-color: #64C7CC;
  margin: 86.60px 0;
  border-left: solid 30px var(--blue);
  border-right: solid 30px var(--blue);
  box-shadow: 10px -10px 0 -3px white, 10px -10px var(--green),
        20px -20px 0 -3px white, 20px -20px var(--yellow),
        30px -30px 0 -3px white, 30px -30px var(--orange),
        40px -40px 0 -3px white, 40px -40px var(--red);
}

.hexagon:hover {
  box-shadow: 0 0 0 -10px white, 0 0 var(--green),
        0 0 0 -10px white, 0 0 var(--yellow),
        0 0 0 -10px white, 0 0 var(--orange),
        0 0 0 -10px white, 0 0 var(--red);
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 212.13px;
  height: 212.13px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  left: 13.9340px;
  background-color: transparent;
}

.hexagon:before {
  top: -106.0660px;
  border-top: solid 42.4264px #333333;
  border-right: solid 42.4264px #333333;
  background-color: transparent;
}

.hexagon:after {
  bottom: -106.0660px;
  border-bottom: solid 42.4264px #333333;
  border-left: solid 42.4264px #333333;
}

.checkmark {
  display: inline-block;
  transform: rotate(45deg);
  height: 24px;
  width: 12px;
  border-bottom: 7px solid white;
  border-right: 7px solid white;
}
.cross {
  width: 30px;
  height: 30px;
}
.checkmarked {
  display: inline-block;
  transform: rotate(45deg) scale(3);
  height: 24px;
  width: 12px;
  border-bottom: 7px solid var(--green);
  border-right: 7px solid var(--green);
}
.checkmark.checked {
  border-bottom: 7px solid var(--green);
  border-right: 7px solid var(--green);
}
.drop-shadow-left-bottom {
  filter: drop-shadow( -20px 37px 0 orange);
}

.drop-shadow-right-bottom {
  filter: drop-shadow( 20px 37px 0 orange);
}

.drop-shadow-left-top {
  filter: drop-shadow( -20px -37px 0 orange);
}

.drop-shadow-right-top {
  filter: drop-shadow( 20px -37px 0 orange);
}

.dot-bg, .border-image {
  background: linear-gradient(90deg, #F6EBE0 18px, transparent 1%) center, linear-gradient(#F6EBE0 18px, transparent 1%) center, var(--purple-gray);
  background-size: 22px 22px;
}
.border-image {
  display: flex;
  justify-content: center;
  align-items: center;
  > span {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--blue)!important;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: var(--blue)!important;
}

input:focus::-webkit-input-placeholder {
  color: transparent!important;
}

/* className animation */
.hover-rotate:hover {
  //transform: rotate(90deg);
  //transition: all .2s ease;
}

@keyframes rotation {
		from {
				transform: rotate(0deg);
		}
		to {
				transform: rotate(360deg);
		}
}

.grid-wrapper {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: column;
  gap: 10px;
}
.bang {
  display: block;
  top: calc(100vh - 170px);
  right: 80px;
}
.cannon {
  transform: rotate(130deg);
  right: 0;
  top: calc(100vh - 150px);
  width: 120px;
}
.logo {
  left: 0;
  top: 0;
  > img {
    width: 80px;
  }
}
iframe {height: 90vh; width: 60%; box-sizing: border-box;}


@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.credit-block-green {
  box-shadow: 10px -10px var(--orange);
  background-color: var(--green);
}

.credit-block-purple {
  box-shadow: 10px -10px var(--orange);
  background-color: var(--purple);
}

.credit-block-blue {
  box-shadow: 10px -10px var(--yellow);
  background-color: var(--blue);
}

.credit-block-orange {
  box-shadow: 10px -10px var(--purple);
  background-color: var(--orange);
}

.credit-block-pink {
  box-shadow: 10px -10px var(--green);
  background-color: var(--pink);
}

.credit-block-red {
  box-shadow: 10px -10px var(--blue);
  background-color: var(--red);
}

.credit-block-gray {
  box-shadow: 10px -10px var(--green);
  background-color: var(--gray);
}

.credit-logo {
  background-repeat:no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: auto 40px;
  background-position: 20px 20px;
}

.main-left {
  padding: 40px;
  border: 1px solid;
  boxShadow: -10px 10px blue;
  background-color: #fdee21;
  color: blue;
  width: 100%;
}
.stepper-dot-container {
  transition: all .8s easeOut;
  .stepper-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--gray);
  }
  svg {
    display: none;
    fill: currentColor;
    width: 1em;
    height: 1em;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    color: var(--green);
    z-index: 1;
    font-size: 24px;
  }
  &.active {
    .stepper-dot {
      background-color: var(--green);
      width: 12px;
      height: 12px;
    }
  }
  &.completed {
    .stepper-dot  {
      display: none;
    }
    svg {
      display: inline-block;
    }
  }
  &.completed.active {
    svg {
      border: 1px solid;
      border-radius: 50%;
    }
  }
}
.stepper-line-container {
  top: 10px;
  left: calc(-50% + 16px);
  right: calc(50% + 16px);
}
.stepper-line {
  border-color: var(--gray-light);
  border-radius: 1px;
  border-top-width: 3px;
  border-top-style: solid;
  &.completed {
    border-color: var(--green)
  }
}

.bg-primary-secondary {
  background: linear-gradient(90deg, var(--primary) 60%, var(--secondary) 40%);
}

.bg-gray-pink {
  background: linear-gradient(90deg, var(--gray-light) 60%, var(--pink) 40%);
}

.bg-gray-yellow {
  background: linear-gradient(90deg, var(--gray-light) 60%, var(--yellow) 40%);
}

.bg-gray-orange {
  background: linear-gradient(90deg, var(--gray-light) 60%, var(--orange) 40%);
}

.bg-gray-green {
  background: linear-gradient(90deg, var(--gray-light) 60%, var(--green) 40%);
}

.bg-gray-red{
  background: linear-gradient(90deg, var(--gray-light) 60%, var(--red) 40%);
}

.bg-gray-purple {
  background: linear-gradient(90deg, var(--gray-light) 60%, var(--purple) 40%);
}





.bg-blue-gray {
  background: linear-gradient(90deg, var(--blue) 60%, var(--gray-light) 40%);
}

.bg-pink-gray {
  background: linear-gradient(90deg, var(--pink) 60%, var(--gray-light) 40%);
  @media (max-width: 639px) {
    background: var(--pink);
  }
}

.bg-yellow-gray {
  background: linear-gradient(90deg, var(--yellow) 60%, var(--gray-light) 40%);
  @media (max-width: 639px) {
    background: var(--yellow);
  }
}

.bg-orange-gray {
  background: linear-gradient(90deg, var(--orange) 60%, var(--gray-light) 40%);
  @media (max-width: 639px) {
    background: var(--orange);
  }
}

.bg-green-gray {
  background: linear-gradient(90deg, var(--green) 60%, var(--gray-light) 40%);
  @media (max-width: 639px) {
    background: var(--green);
  }
}

.bg-red-gray{
  background: linear-gradient(90deg, var(--red) 60%, var(--gray-light) 40%);
  @media (max-width: 639px) {
    background: var(--red);
  }
}

.bg-purple-gray {
  background: linear-gradient(90deg, var(--purple) 60%, var(--gray-light) 40%);
  @media (max-width: 639px) {
    background: var(--purple);
  }
}
.panel {
  perspective: 1000px;
  transform-style: preserve-3d;
}
